@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  font-family: 'Poppins', -apple-system, system-ui, Inter, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  margin: 0 0 0 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

textarea {
  resize: none;
}
